* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text: #0058e6;
  --secondary-text: #b9b9b9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #000;
}

header {
  padding: 1rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-text);
  transition: .3s ease;
}

.nav-link:hover {
  background: #d8d8d8;
}

#home {
  overflow: hidden;
  color: var(--secondary-text);
}

.info-container {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info-title {
  font-size: 2em;
  color: var(--primary-text);
  padding-bottom: .5rem;
}

hr {
  width: 500px;
  height: 5px;
  background: var(--primary-text);
  border: none;
  border-radius: 6px;
  margin: 0 auto;
}

.info-text {
  font-size: 1.2em;
  color: var(--secondary-text);
  padding: .5rem 0 1rem 0;
}

#home img {
  width: clamp(200px, 90%, 1100px);
  height: 400px;
  margin: 0 auto;
}

#jobsearch {
  padding: 1rem;
  color: var(--primary-text);
}

.jobsearch-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem 0 .5rem 0;
}

#details-text {
  font-size: 1.8rem;
  text-align: center;
}

.name-label,
.email-label,
.location-label {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--secondary-text);
}

#details-text,
#name,
#email,
#location,
#submit-btn {
  margin: .7rem 0;
}

#name,
#email,
#location {
  padding: .4rem 2rem;
  border: none;
  border-radius: .7rem;
  box-shadow: 1px 1px 10px black;
}

#submit-btn {
  padding: .8rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: .7rem;
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 1rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-brands {
  font-size: 1.5rem;
  color: rgb(92, 92, 92);
  margin: 1rem;
}

.google-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.map-text {
  font-size: 1.2rem;
  margin-top: .8rem;
}

/* CSS styles for mobile devices */
@media only screen and (max-width: 767px) {
  header {
    padding: 1rem .5rem;
  }

  .logo {
    width: 100px;
  }

  .nav-link {
    font-size: .6em;
  }

  .info-container {
    padding: 0 1rem 1rem 1rem;
  }

  .info-title {
    font-size: 1.3em;
  }

  hr {
    width: 300px;
  }

  .info-text {
    font-size: .8em;
  }
}

/* CSS styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 1rem 2.5rem;
  }
}

/* CSS styles for laptop devices */
@media only screen and (min-width: 1024px) {
  header {
    padding: 1rem 3rem;
  }

  .nav-link {
    font-size: 1.25em;
  }
}